@using TravelFinalProject.ViewModels
@model List<GetTourVM>
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-2" style="background-image: url(images/bg/bg8.jpg);">
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
                        <div class="dashboard-list-box with-icons">
                            <div class="dashboard-title">
                                <h4 class="mb-0">Tour DashBoard</h4>
                            <a asp-action="create"  class="btn btn-success">Create</a>

                        </div>
                            <div class="table-responsive table-desi">
                                <table class="basic-table table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Duration</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Available seats</th>
                                            <th>Location</th>
                                            <th>Destination</th>
                                            <th>Settings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach(GetTourVM tourVM in Model)
                                    {
                                        <tr>
                                            <td>
                                           <img style="width:150px; height:100px;" src="~/assets/images/trending/@tourVM.Image">
                                            </td>
                                            <td>@tourVM.Title</td>
                                            <td>@tourVM.Description</td>
                                            <td>@tourVM.Price</td>
                                            <td>@tourVM.Duration</td>
                                            <td>
                                               @tourVM.Start_Date
                                            </td>
                                            <td>
                                               @tourVM.End_Date
                                            </td>
                                            <td>
                                                @tourVM.Available_seats
                                            </td>
                                            <td>@tourVM.Location</td>
                            <td>
                              
                                    @tourVM.Destination.DestinationTranslations.FirstOrDefault().Name
                                    
                            </td>
                                            <td style="display: flex; gap: 10px;">

                                                <a asp-action="delete" asp-route-id="@tourVM.Id" class="btn"><i class="fa fa-trash-alt text-danger" aria-hidden="true"></i></a>
                                                <a asp-action="update" asp-route-id="@tourVM.Id" class="btn">  <i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a>
                                            </td>

                                        </tr>
                                    }
                                  
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
              
    

  