@using TravelFinalProject.Models
@model List<Tour>
<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url(images/bg/bg8.jpg);">
    <div class="breadcrumb-outer pt-10">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h2 class="mb-0">Destination List</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Destination List</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->
<!-- blog starts -->
<section class="blog destination-b pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 mb-4">
                <div class="trend-box">
                    <div class="list-results d-flex align-items-center justify-content-between">
                        <div class="list-results-sort">
                            <p class="m-0">Showing 1-5 of 80 results</p>
                        </div>
                        <div class="click-menu d-flex align-items-center justify-content-between">
                            <div class="change-list f-active mr-2"><a href="destination-list.html"><i class="fa fa-bars"></i></a></div>
                            <div class="change-grid"><a href="destination-grid.html"><i class="fa fa-th"></i></a></div>
                            <div class="sortby d-flex align-items-center justify-content-between ml-2">
                                <select class="niceSelect">
                                    <option value="1">Sort By</option>
                                    <option value="2">Average rating</option>
                                    <option value="3">Price: low to high</option>
                                    <option value="4">Price: high to low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @foreach (Tour tour in Model)
                    {
                        <div class="blog-full d-flex justify-content-around mb-4">
                            <div class="row w-100">
                                <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                    <div class="blog-image">
                                        <div class="blog-image">
                                            <a href="@Url.Action("Details", "Tour", new { id = tour?.Id })"
                                               style="background-image: url('@Url.Content("~/assets/images/trending/" + (tour.TourImages?.FirstOrDefault(ti => ti.IsPrimary == true)?.Image ?? "default.jpg"))');">
                                            </a>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-7 col-md-8 col-xs-12">
                                    <div class="blog-content p-0">
                                        <h4 class="mb-1">
                                            <a href="@Url.Action("Details", "Tour", new { id = tour.Id })">@tour.Title</a>
                                        </h4>
                                        <div class="trend-tags">
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div>
                                        <p class="mb-2 pink">
                                            <i class="fa fa-map-marker mr-1"></i> @tour.Location, @tour.Destination.Name
                                        </p>
                                        <p class="mb-2 border-t pt-2">@tour.Description?.Length > 150 ? tour.Description.Substring(0, 150) + "..." : tour.Description</p>
                                        <div class="deal-price">
                                            <p class="price mb-0">From <span>$@tour.Price</span> / @tour.Duration</p>
                                        </div>
                                        <p><strong>Start Date:</strong> @tour.Start_Date.ToString("dd MMM yyyy")</p>
                                        <p><strong>End Date:</strong> @tour.End_Date.ToString("dd MMM yyyy")</p>
                                        <p><strong>Available Seats:</strong> @tour.Available_seats</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


              
                    <div class="text-center">
                        <a href="#" class="nir-btn">Load More <i class="fa fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 mb-4">
                <div class="sidebar-sticky">
                    <div class="sidebar-item mb-4">
                        <form class="form-content">
                            <h4 class="title white">Find The Places</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="white">Your Destination</label>
                                        <div class="input-box">
                                            <i class="flaticon-placeholder"></i>
                                            <select class="niceSelect">
                                                <option value="1">Where are you going?</option>
                                                <option value="2">Argentina</option>
                                                <option value="3">Belgium</option>
                                                <option value="4">Canada</option>
                                                <option value="5">Denmark</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="white">Check In</label>
                                        <div class="input-box">
                                            <i class="flaticon-calendar"></i>
                                            <input id="date-range0" type="text" placeholder="yyyy-mmm-dd">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="white">Check Out</label>
                                        <div class="input-box">
                                            <i class="flaticon-calendar"></i>
                                            <input id="date-range1" type="text" placeholder="yyyy-mm-dd">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="white">Adult</label>
                                        <div class="input-box">
                                            <i class="flaticon-add-user"></i>
                                            <select class="niceSelect">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="white">Children</label>
                                        <div class="input-box">
                                            <i class="flaticon-add-user"></i>
                                            <select class="niceSelect">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-0">
                                        <a href="#" class="nir-btn w-100"><i class="fa fa-search"></i> Check Availability</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="list-sidebar">
                        <div class="sidebar-item">
                            <h4>Services</h4>
                            <div class="pretty p-default p-thick p-pulse mar-bottom-15">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>24/7 Reception</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse mar-bottom-15">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>Parking</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse mar-bottom-15">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>Bar</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse mar-bottom-15">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>Restaurant</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse mar-bottom-15">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>Satellite Television</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse mar-bottom-15">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>Lift/ELevator</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state p-warning-o">
                                    <label>Luggage Storage </label>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <div class="map-box">
                                <i class="fa fa-map-marker"></i>
                                <a href="#">Show on Map</a>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <h4>Star Rating</h4>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        <span class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        <span class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        <span class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        <span class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        <span class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <h4>Price Range($)</h4>
                            <div class="range-slider">
                                <div data-min="0" data-max="2000" data-unit="$" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                                    <span class="min-value">0 $</span>
                                    <span class="max-value">2000 $</span>
                                    <div class="ui-slider-range ui-widget-header ui-corner-all full" style="left: 0%; width: 100%;"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="sidebar-item">
                            <h4>City</h4>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        Amsterdam<span class="number">749</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" checked />
                                <div class="state">
                                    <label>
                                        Rotterdam<span class="number">630</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        Copenghan<span class="number">58</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        New Delhi<span class="number">29</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        New York<span class="number">29</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        Kathmandu<span class="number">29</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        Brisbane<span class="number">29</span>
                                    </label>
                                </div>
                            </div>
                            <div class="pretty p-default p-thick p-pulse">
                                <input type="checkbox" />
                                <div class="state">
                                    <label>
                                        Tokyo<span class="number">29</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog Ends -->
<!-- Trending Starts -->
<section class="trending destination bg-grey pb-6">
    <div class="container">
        <div class="section-title text-center mb-5 pb-2 w-50 mx-auto">
            <h2 class="m-0">Related <span>Tour Packages</span></h2>
            <p class="mb-0">Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="trend-box">
            <div class="row team-slider">
                <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                    <div class="trend-item">
                        <div class="trend-image">
                            <img src="images/trending/trending1.jpg" alt="image">
                            <div class="trend-tags">
                                <a href="#"><i class="flaticon-like"></i></a>
                            </div>
                        </div>
                        <div class="trend-content-main">
                            <div class="trend-content">
                                <h6 class="font-weight-normal"><i class="fa fa-map-marker-alt"></i> Thailand</h6>
                                <h4><a href="#">Stonehenge, Windsor Castle, and Bath from London</a></h4>
                                <div class="rating-main d-flex align-items-center">
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="ml-2">38 Reviews</span>
                                </div>
                            </div>
                            <div class="trend-last-main">
                                <p class="mb-0 trend-para">A wonderful little cottage right on the seashore - perfect for exploring.</p>
                                <div class="trend-last d-flex align-items-center justify-content-between">
                                    <p class="mb-0 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                    <div class="trend-price">
                                        <p class="price white mb-0">From <span>$350.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                    <div class="trend-item">
                        <div class="trend-image">
                            <img src="images/trending/trending2.jpg" alt="image">
                            <div class="trend-tags">
                                <a href="#"><i class="flaticon-like"></i></a>
                            </div>
                        </div>
                        <div class="trend-content-main">
                            <div class="trend-content">
                                <h6 class="font-weight-normal"><i class="fa fa-map-marker-alt"></i> Germany</h6>
                                <h4><a href="#">Bosphorus and Black Sea Cruise from Istanbul</a></h4>
                                <div class="rating-main d-flex align-items-center">
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="ml-2">38 Reviews</span>
                                </div>
                            </div>
                            <div class="trend-last-main">
                                <p class="mb-0 trend-para">A wonderful little cottage right on the seashore - perfect for exploring.</p>
                                <div class="trend-last d-flex align-items-center justify-content-between">
                                    <p class="mb-0 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                    <div class="trend-price">
                                        <p class="price white mb-0">From <span>$350.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                    <div class="trend-item">
                        <div class="trend-image">
                            <img src="images/trending/trending3.jpg" alt="image">
                            <div class="trend-tags">
                                <a href="#"><i class="flaticon-like"></i></a>
                            </div>
                        </div>
                        <div class="trend-content-main">
                            <div class="trend-content">
                                <h6 class="font-weight-normal"><i class="fa fa-map-marker-alt"></i> Denmark</h6>
                                <h4><a href="#">NYC One World Observatory Skip-the-Line Ticket</a></h4>
                                <div class="rating-main d-flex align-items-center">
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="ml-2">38 Reviews</span>
                                </div>
                            </div>
                            <div class="trend-last-main">
                                <p class="mb-0 trend-para">A wonderful little cottage right on the seashore - perfect for exploring.</p>
                                <div class="trend-last d-flex align-items-center justify-content-between">
                                    <p class="mb-0 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                    <div class="trend-price">
                                        <p class="price white mb-0">From <span>$350.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                    <div class="trend-item">
                        <div class="trend-image">
                            <img src="images/trending/trending4.jpg" alt="image">
                            <div class="trend-tags">
                                <a href="#"><i class="flaticon-like"></i></a>
                            </div>
                        </div>
                        <div class="trend-content-main">
                            <div class="trend-content">
                                <h6 class="font-weight-normal"><i class="fa fa-map-marker-alt"></i> Japan</h6>
                                <h4><a href="#">Stonehenge, Windsor Castle, and Bath from London</a></h4>
                                <div class="rating-main d-flex align-items-center">
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="ml-2">38 Reviews</span>
                                </div>
                            </div>
                            <div class="trend-last-main">
                                <p class="mb-0 trend-para">A wonderful little cottage right on the seashore - perfect for exploring.</p>
                                <div class="trend-last d-flex align-items-center justify-content-between">
                                    <p class="mb-0 white"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 days & 2 night</p>
                                    <div class="trend-price">
                                        <p class="price white mb-0">From <span>$350.00</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trending Ends -->
