@using TravelFinalProject.Models
@model BookingHistoryVM
<section class="breadcrumb-main pb-2" style="background-image: url(images/bg/bg8.jpg);">
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->
<!-- Dashboard -->
<div id="dashboard" class="pt-10 pb-10">
    <div class="container">
        <div class="dashboard-main">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-sidebar">
                        <div class="profile-sec">
                            <div class="author-news mb-3">
                                <div class="author-news-content text-center p-3">
                                    <div class="author-thumb mt-0">
                                        <img src="images/team/" alt="author">
                                    </div>
                                    <div class="author-content pt-2 p-0">
                                        <h3 class="mb-1 white"><a href="#" class="white">@Model.User.Name @Model.User.Surname</a></h3>
                                        <p class="detail"><i class="fa fa-map-marker"></i>@Model.User.Country</p>
                                        <p class="detail"><i class="fa fa-phone"></i>@Model.User.PhoneNumber</p>
                                        <div class="header-social mt-2">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="dot-overlay"></div>
                            </div>
                        </div>
                        <!-- Responsive Navigation Trigger -->
                        <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>
                        <div class="dashboard-nav">
                            <div class="dashboard-nav-inner">
                                <ul>
                                    <li><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                                    <li><a href="dashboard-my-profile.html"><i class="sl sl-icon-user"></i> Profile</a></li>
                                    <li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
                                    <li><a href="dashboard-reviews.html"><i class="sl sl-icon-star"></i> Reviews</a></li>
                                    <li><a href="dashboard-add-new.html"><i class="sl sl-icon-plus"></i> Add listing</a></li>
                                    <li><a href="dashboard-list.html"><i class="sl sl-icon-layers"></i> Listing</a></li>
                                    <li class="active"><a href="dashboard-history.html"><i class="fa fa-list-ul"></i>Booking History</a></li>
                                    <li><a href="login.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="dashboard-content">
                        <div class="dashboard-list-box">
                            <div class="table-box">
                                <table class="basic-table history-table">
                                    <thead>
                                        <tr>
                                            <th>#ID</th>
                                            <th>Title</th>
                                            <th>Order Date</th>
                                            <th>Execution Time</th>
                                            <th>Cost</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     @foreach(Booking vm in Model.Bookings)
        {
            <tr>
                <td>@vm.Id</td>
                <td>@vm.Tour?.Title</td>
                <td>@vm.BookingDate.ToString("MMM d yyyy")</td>
                <td>@(vm.Tour != null ? $"{vm.Tour.Start_Date:MMM d yyyy} - {vm.Tour.End_Date:MMM d yyyy}" : "")</td>
                <td>@vm.TotalPrice.ToString("C")</td>
                <td>@vm.Status.ToString()</td>
                <td>
                    @foreach(BookingTraveller traveller in Model.BookingTravellers)
                    {
                        <div>@traveller.FirstName</div>
                    }
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="fa fa-plus"></span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Send Email</a>
                            <a class="dropdown-item" href="#">Print PDF</a>
                            <a class="dropdown-item del" href="#">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Content / End -->
    </div>
</div>
<!-- Dashboard / End -->
