@using TravelFinalProject.ViewModels
  @model BookingVM
<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url(images/bg/bg8.jpg);">
    <div class="breadcrumb-outer pt-10">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h2 class="mb-0">Booking</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->
<!-- blog starts -->
<section class="blog trending destination-b pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 mb-4">
                <div class="payment-book">
                    <div class="booking-box">
                        <div class="customer-information mb-2">
                            <h3 class="border-b pb-2 mb-2">Traveller Information</h3>
                            <form action="/booking/create" method="post">
                                @Html.AntiForgeryToken()@if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="text-danger">
                                        <strong>ModelState Xətaları:</strong>
                                        <ul>
                                            @foreach (var kvp in ViewData.ModelState)
                                            {
                                                foreach (var error in kvp.Value.Errors)
                                                {
                                                    <li><strong>@kvp.Key:</strong> @error.ErrorMessage</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }

                                <h3 class="border-b pb-2 mb-2">Traveller Information</h3>
                                @for (int i = 0; i < Model.Travellers.Count; i++)
                                {
                                    <h5>Traveller @(i + 1)</h5>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label asp-for="@Model.Travellers[i].Gender"></label>
                                            <select asp-for="@Model.Travellers[i].Gender" class="niceSelect" asp-items="Html.GetEnumSelectList<TravelFinalProject.Utilities.Enums.Gender>()">
                                                <option value="">Select</option>
                                            </select>
                                            <span asp-validation-for="@Model.Travellers[i].Gender" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-5">
                                            <label asp-for="@Model.Travellers[i].FirstName"></label>
                                            <input asp-for="@Model.Travellers[i].FirstName" class="form-control" placeholder="First Name" />
                                            <span asp-validation-for="@Model.Travellers[i].FirstName" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-5">
                                            <label asp-for="@Model.Travellers[i].LastName"></label>
                                            <input asp-for="@Model.Travellers[i].LastName" class="form-control" placeholder="Last Name" />
                                            <span asp-validation-for="@Model.Travellers[i].LastName" class="text-danger"></span>
                                        </div>


                                        <div class="col-md-4 col-sm-6">
                                            <label asp-for="@Model.Travellers[i].DateOfBirth"></label>
                                            <input asp-for="@Model.Travellers[i].DateOfBirth" type="date" class="form-control" />
                                            <span asp-validation-for="@Model.Travellers[i].DateOfBirth" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4 col-sm-12">
                                            <label asp-for="@Model.Travellers[i].Nationality"></label>
                                            <select asp-for="@Model.Travellers[i].Nationality" class="niceSelect">
                                                <option value="">Select Your Nationality</option>
                                                <option>Malaysia</option>
                                                <option>Singapore</option>
                                                <option>Japan</option>
                                                <option>Thailand</option>
                                            </select>
                                            <span asp-validation-for="@Model.Travellers[i].Nationality" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6">
                                            <label asp-for="@Model.Travellers[i].Email"></label>
                                            <input asp-for="@Model.Travellers[i].Email" type="email" class="form-control" placeholder="Email Address" />
                                            <span asp-validation-for="@Model.Travellers[i].Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.Travellers[i].PassportNumber"></label>
                                            <input asp-for="@Model.Travellers[i].PassportNumber" class="form-control" placeholder="Passport Number" />
                                            <span asp-validation-for="@Model.Travellers[i].PassportNumber" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="@Model.Travellers[i].PhoneNumber"></label>
                                            <input asp-for="@Model.Travellers[i].PhoneNumber" class="form-control" placeholder="Phone No." />
                                            <span asp-validation-for="@Model.Travellers[i].PhoneNumber" class="text-danger"></span>
                                        </div>

                                    </div>
                                }

                                <input asp-for="Booking.TourId" type="hidden" />
                                <input asp-for="Booking.GuestsCount" type="hidden" />
                                <input type="hidden" asp-for="Booking.TotalPrice" value="@Model.Booking.TotalPrice.ToString(System.Globalization.CultureInfo.InvariantCulture)" />
                                <button type="submit" class="btn btn-primary mt-3">Submit Booking</button>
                            </form>

                        </div>
                        <div class="customer-information card-information">
                            <h3 class="border-b pb-2 mb-2">Payment Information <small class="font-sm text-muted">/ <i class="fas fa-lock"></i> secure</small></h3>
                            <div class="alert bg-pink p-4 mb-4" role="alert">
                                <h3 class="white mb-1">Congratulations!!!</h3>
                                <p class="lead white mb-1">You've got the best price at just <strong class="font-weight-bold">$60.55</strong> per person</p>
                                <p class="mb-0 white">Prices may go up, so secure your reservation today. </p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="mb-2">Credit Card</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Card Holder Number</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Card Number</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Expiry Month</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Expiry Year</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>CVC</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-t pt-2 mt-1"></div>
                                <div class="row mb-2">
                                    <div class="col-md-12">
                                        <h5 class="mb-2">Paypal</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <p>To make the payment process secure and complete you will be redirected to Paypal Website .</p>
                                        <a href="" class="pink">Checkout via Paypal <i class="fa fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="checkbox"> By continuing, you agree to the <a href="#">Terms and Conditions.</a>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-btn">
                                            <a href="#" class="nir-btn">CONFIRM BOOKING</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 mb-4">
                <div class="sidebar-sticky sticky1">
                    <div class="trend-item mb-4">
                        <div class="trend-image">
                            <img src="~/assets/images/trending/@Model.Booking.Tour.TourImages.FirstOrDefault(t=>t.IsPrimary==true).Image" alt="image">
                        </div>
                        <div class="trend-content-main">
                            <div class="trend-content">
                                <div class="rating-main d-flex align-items-center pb-1">
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span class="ml-2">38 Reviews</span>
                                </div>
                                <h4><a href="#">@Model.Booking.Tour.Title</a></h4>
                                <p class="mb-0 pink"><i class="fa fa-eye mr-1"></i> 852 Visiting Places <i class="fa fa-map-marker mr-1 ml-3"></i> @Model.Booking.Tour.Destination.Name.</p>
                            </div>
                            <div class="trend-last-main">
                                <p class="mb-0 trend-para">@Model.Booking.Tour.Description</p>
                                <div class="trend-last d-flex align-items-center justify-content-between bg-navy">
                                    <p class="mb-0 white"><i class="fa fa-clock-o" aria-hidden="true"></i>@Model.Booking.Tour.Duration</p>
                                    <div class="trend-price">
                                        <p class="price white mb-0">From <span>$@Model.Booking.Tour.Price</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-sidebar">
                        <div class="sidebar-item">
                            <h4>Payment</h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td> Price</td>
                                        <td class="pink">$580.00</td>
                                    </tr>
                                    <tr>
                                        <td>Number of Travellers</td>
                                        <td class="pink">1</td>
                                    </tr>
                                    <tr>
                                        <td>Infant Price</td>
                                        <td class="pink">$0.00</td>
                                    </tr>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td class="pink">$580.00</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="pink">$580.00</td>
                                    </tr>
                                    <tr>
                                        <td>Tax & fee</td>
                                        <td class="pink">0</td>
                                    </tr>
                                </tbody>
                                <tfoot class="bg-pink">
                                    <tr>
                                        <th class="font-weight-bold white">Amount</th>
                                        <th class="font-weight-bold white">$580.00</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog Ends -->
